@import "src/scss/variables";

.general-info {
  display: flex;

  .general-info-data {
    padding: $padding-medium;
    width: 100%;

    .general-info-header {
      display: flex;
      justify-content: space-between;

      .react-share__ShareButton {
        padding: 0 $padding-small !important;
      }
    }
  }
}