@import "~bootstrap/scss/bootstrap";

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;

  .content-routed {
    flex-grow: 1;
  }
}

.loader-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#picture {
  max-height: 700px;
  display: block;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
