// General

// 10pt variables
$padding-small: 5px;
$padding-base: 10px;
$padding-medium: 20px;
$padding-large: 30px;

$margin-base: 10px;
$margin-medium: 20px;
$margin-large: 30px;

// Box shadows
$box-shadow-material: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);